<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,maximum-scale=2">

	<link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	{% seo %}
	{% include head-custom.html %}
</head>

<body>

	<!-- Header -->
	<div id="header_wrap" class="outer">
		<header class="inner">
			<div style="display: inline-block;">
				<img style="display: inline; margin: 0 5px;" src="assets/img/favicon.png"/>
				<h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
			</div>
			<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
		</header>
	</div>

	<!-- Main Content -->
	<div id="main_content_wrap" class="outer">
	<section id="main_content" class="inner">
		{{ content }}
	</section>
	</div>

	<!-- Footer  -->
	<div id="footer_wrap" class="outer">
		<footer class="inner">
			{% if site.github.is_project_page %}
				<p class="copyright">Created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
			{% endif %}
		</footer>
	</div>

</body>

</html>
